

.CK-subMenuOptions{
    width:100%;
    list-style-type:none;
    padding-inline-start: 0px;
    display:grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    
    
}

.CK-subMenuOptionsItem{
    text-align: center;
}

.CK-subMenuOptionsItemButton{
    width:100%;
    height:30vh
}

.CK-entrees{
    display:inline-flex;
    position: top;
    list-style-type:none
}

.CK-entreesItem{
    text-align: center;
    background-color: aqua;
    margin-top: 20px;
}

.CK-sides{
    display:inline-flex;
    position:top;
    list-style-type:none
}

.CK-sidesItem{
    position: top;
    text-align: center;
    background-color: aqua;
    margin-top: 20px;
}

.CK-topBar{
    display:inline
}

.CK-BuildFoodPage{
    
}

.CK-singlePick{
}

button.CK_killOrderButton{
    background-color: red;
}
button.CK-clicked{
    color:grey;
    background-color: green;
}

.CK-screenContainer{
    display: flex;
    
}

.CK-OrderContainer{
    width:100%;
    
}
