.cshr_optionContainer {
  position: relative;
  top: 70px;
  left: 430px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: calc(100vw - 400px - 20px);
  max-width: 100%;
}

.cshr_optionBtn {
  aspect-ratio: 1 / 1;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cshr_optionBtn:hover {
  background-color: #e0e0e0;
}
