.mngr-title {
    margin-top: 20px;
    text-align: center;
}

.mngr-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.mngr-nav button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #af4c4c;
    color: white;
    border-radius: 5px;
}

.mngr-nav button:hover {
    background-color: #a04545;
}

.mngr-table {
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}

.mngr-table thead tr {
    background-color: #dd4545;
    color: #ffffff;
    text-align: center;
}

.mngr-table th,
.mngr-table td {
    padding: 7px 7px;
}

.mngr-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.mngr-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.mngr-createbutton {
    margin: 15px;
}

.mngr-font {
    font-family: Verdana, sans-serif;
}

.mngr-btn {
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.9;
}

.mngr-btn-ret {
    background-color: #020406;
}

.mngr-btn:hover {
    background-color: red;
}


.mngr-settingsTable {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	width: 40%;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}

.mngr-settingsTable td, th {
	text-align: left;
	padding: 8px;
}

.mngr-settingsTable thead tr {
    background-color: #dd4545;
    color: #ffffff;
    text-align: center;
}

.mngr-kitchensettings, .mngr-excess, .mngr-sellstogether, .mngr-restockReport, .mngr-xreport, .mngr-zreport, .mngr-orderhist {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 
}

.mngr-excessItem {
    background-color: #ff00007f;
}

.mngr-normalItem {
    background-color: rgba(0, 128, 0, 0.507);
}

.mngr-settingsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.mngr-salescontainer {
    display: flex;
}

.mngr-salescol {
    width: 50%;
}

.mngr-orderList {
	list-style-type: none;
	padding: 0;
	margin: 0; 
    width:60vw;
}

.mngr-orderList {
	flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

.mngr-orderCard {
	border: 1px solid rgb(0, 0, 0);
	padding: 0px;
    margin-bottom:20px;
}

.mngr-orderItemCard li {
	font-size: 20px;
}

.mngr-orderItemCard h3 {
	font-size: 25px;
}

.mngr-orderCardHeaders {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	width: 100%; 
	background-color: #757575;	
}

.mngr-orderInfo {
	margin-left:10px;
}

.mngr-orderCardBody {
	display: flex;
}

.mngr-cardButtons {
	display: flex;
	margin-left: auto;
}

.mngr-cardButtons button {
	font-size:30px;
	width:150px;
	height:75px;
}