.goog-te-banner-frame {
	display: none !important;
}

.kt-mainDiv {
	font-family: Verdana, sans-serif;
	height: 90vh;
	box-sizing: border-box;
}
.kt-mainDiv h1 {
	text-align: center;
	margin: 0px;
	background-color: #f44336;
	opacity: 0.9;
}

.kt-columnContainer {
	display: flex;
	height: 100%;
}

.kt-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding:0px;
	width: 50vw;
}

.kt-column ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

.kt-cardList {
	flex-grow: 1;
    overflow-y: scroll; 
    padding: 10px;
    box-sizing: border-box;
}

.kt-column li {
	margin: 5px;
}

.kt-orderCardHeaders {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	width: 100%; 
	background-color: #757575;	
}

.kt-orderInfo {
	margin-left:10px;
}
.kt-TOS {
	margin-right:10px;
}

.kt-orderCardBody {
	display: flex;
}

.kt-orderCard {
	border: 1px solid rgb(0, 0, 0);
	padding: 0px;
}

.kt-mainDiv button {
	display: block;
	width: 100px;
	height: 50px;
}

.kt-buttons {
	margin-left: auto;
}

.kt-buttons button {
	font-size:16px;
}

.kt-cancel:hover {
	background-color: red;
}

.kt-complete:hover {
	background-color: green;
}

.kt-toggle:hover {
	background-color: darkslategray;
}

.kt-inputsTable {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 40%;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}

.kt-inputsTable td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}



.kt-dftContainer {
    display: flex;
    justify-content: center;
	margin-top: 50px;
}

.kt-dftButton {
    display: inline-block;
	border:none;
    background-color: #f44336;
    color: #FFFFFF;
    text-align: center;
    opacity: 0.9;
}

.kt-dftButton:hover {
    color: white;
    background-color: red;
    opacity: 1;
}

/** NAV BAR STYLING*/
.kt-navBar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


.kt-navBtn:-webkit-any-link {
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.9;
}

.kt-navBtn:hover {
    color: white;
    background-color: red;
    opacity: 1;
}