 
h1 {
	text-align: center;
	margin: 0px;
}

.kt-columnContainer {
	display: flex;
}

.kt-column {
	flex: 1;
	padding:20px;
	border: 5px solid #ccc;
}

.kt-column li {
	margin-bottom: 5px;
}

.kt-column ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

.kt-orderCard {
  background-color: lightblue;
  border: 2px solid blue;
  padding: 10px;
}
