/* General Container */
.cshr_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fff5e6;
}

/* Nav Bar */
.cshr_navBar {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #c8102e;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.cshr_navBar > * {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.cshr_employeeLbl,
.cshr_timeLbl {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.cshr_logoutBtn,
.cshr_managerBtn,
.cshr_cateringBtn,
.cshr_inventoryBtn {
  background-color: #c8102e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s;
}

.cshr_logoutBtn:hover,
.cshr_managerBtn:hover,
.cshr_cateringBtn:hover,
.cshr_inventoryBtn:hover {
  background-color: #a60d22;
}

/* Checkout Section */
.cshr_checkoutSection {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 120px);
  width: 350px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 2px solid #c8102e;
}

.cshr_itemDisplay {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.cshr_priceDisplay {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.cshr_taxLbl,
.cshr_totalLbl {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}

.cshr_tax,
.cshr_total {
  text-align: right;
  font-size: 18px;
  color: #333;
}

.cshr_chckAndClearBtnContainer {
  display: flex;
  justify-content: space-between;
}

.clrBtn,
.chkbtn {
  width: 45%;
  padding: 10px;
  font-size: 16px;
  background-color: #c8102e;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clrBtn:hover,
.chkbtn:hover {
  background-color: #a60d22;
}

/* Ordering Section */
.cshr_orderingSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
}

.cshr_typeBtn {
  width: 400px;
  height: 250px;
  font-size: 18px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: -140px;
}

.cshr_typeBtn:hover {
  background-color: #d2d2d2;
  transform: scale(1.05);
}
